# Let's Encrypt
acme.json

# Traefik
usersfile.txt

# Virtualenv
.venv/

# General
*.override.env

# Wallabag
wallabag/volumes

# Homer
homer/volumes/assets/icons
homer/volumes/assets/tools
homer/volumes/assets/*.dist
homer/volumes/assets/*.sample*
homer/volumes/assets/manifest.json
